a {
    font-size: 30px;
    color: black;
    text-align: center;
    display: block;
}

a:hover {
    color: blue;
}

a:active {
    color: blue;
}

.display-1 {
    text-align: center;
}

p {
    width: 1200px;
    margin: 20px;
    padding-left: 180px;
}
